<div class="col-auto">
  <h2>My data</h2>
  <div id="user-card" class="card text-center d-flex flex-column align-items-center">
    <img src="{{userService.url + 'get-image-user/' + identity.image}}" alt="" *ngIf="identity.image"
         class="card-img-top img-thumbnail img-avatar rounded-circle m-1">
    <img src="../../../assets/default_avatar.png" alt="" *ngIf="!identity.image"
         class="card-img-top img-thumbnail img-avatar rounded-circle m-1">
    <div class="card-body d-flex flex-column align-items-center justify-content-between px-0 w-100">
      <div class="d-flex flex-column">
        <p class="text-left mb-0 user-name">
          <a href="#">
            {{identity.name + " " + identity.surname}}
          </a>
        </p>
        <p class="text-center mb-0 text-muted user-nickname">{{identity.nick}}</p>
      </div>
      <div class="spacer my-1"></div>
      <div class="stats row w-100" *ngIf="stats">
        <div class="col-4">
          <a href="#" class="d-flex flex-column stats-value">
            <span>
          Following
          </span>
            <span>
            {{stats.following}}
          </span></a>
        </div>
        <div class="col-4">
          <a href="#" class="d-flex flex-column stats-value">
          <span>
            Followed
          </span>
            <span>
            {{stats.followed}}
          </span>
          </a>
        </div>
        <div class="col-4">
          <a href="#" class="d-flex flex-column stats-value">
          <span>
            Publications
          </span>
            <span>
            {{stats.publications}}
          </span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- PUBLICATION FORM -->
  <div id="pub_card" class="card mt-3">
    <div class="alert alert-success" *ngIf="status == 1">
      Publication posted successfully!
    </div>
    <div class="alert alert-danger" *ngIf="status == -1">
      Publication not sent...
    </div>
    <div class="card-body">
      <form #publicationForm="ngForm" (ngSubmit)="onSubmit(publicationForm); emitPublcationCreatedEvent($event)" class="col-auto">
        <div class="form-group">
          <label for="publication_text">Tell us what you did the other day!</label>
          <textarea class="form-control" rows="5" id="publication_text" name="text" #text="ngModel"
                    [(ngModel)]="publication.text" required></textarea>
          <span *ngIf="!text.valid && text.touched">This field is required.</span>
        </div>
        <div class="input-group">
          <label class="input-group-btn">
                    <span class="btn btn-carrot btn-file">
                        Browse&hellip; <input type="file">
                    </span>
          </label>
          <input type="text" class="form-control" placeholder="Upload a photo!" readonly>
        </div>
        <div class="w-100 d-flex justify-content-center">
          <input type="submit" class="btn btn-success" [disabled]="!publicationForm.form.valid" value="Submit">
        </div>
      </form>
    </div>
  </div>
</div>
