.img-avatar{
  height: 6em;
  width: 6em;
  object-fit: cover;
}

.spacer{
  width: 100%;
  border: 1px solid rgba(0,0,0,0.1);
}

.w-100{
  width: 100%;
}

.stats-value{
  transition: all 0.25s;
  -moz-transition: 0.25s;
  color: inherit;
}

.stats-value span{
  transition: all 0.5s;
}
.stats-value span:first-child{
  color: #e74c3c;
  font-weight: bold;
}
.stats-value span:nth-child(2){
  color: #2c3e50;
  font-weight: bold;
}
.stats-value:hover span:first-child{
  color: #e67e22;
}

.user-name{
  font-weight: bold;
}

.user-name a{
  color: #e74c3c;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

.btn-carrot{
  color: #fff;
  background: #e67e22;
  border-color: #e67e22;
}
