.img-avatar-publication {
  height: 4em;
  width: 4em;
  object-fit: cover;
}

.publication-user-name {
  font-weight: bold;
}

.publication-user-name a {
  color: #e74c3c;
}

.btn-carrot {
  color: #fff;
  background: #e67e22;
  border-color: #e67e22;
}

.btn-alizarin{
  color: #fff;
  background: #e74c3c;
  border-color: #e74c3c;
}
.w-70{
  width: 70%;
}
 .publication-image{
   max-width: 20rem;
   height: auto;
 }


