.img-avatar-publication {
  height: 4em;
  width: 4em;
  object-fit: cover;
}

.publication-user-name {
  font-weight: bold;
}

.publication-user-name a {
  color: #e74c3c;
}

.btn-carrot {
  color: #fff;
  background: #e67e22;
  border-color: #e67e22;
}

.w-70{
  width: 70%;
}
