<div class="col-lg-auto">
  <h1 class="h1-strong" *ngIf="currentUser">People {{currentUser.nick}} is following</h1>
  <div class="row">
    <div class="col-8">
      <div id="people" class="d-flex flex-column">
        <!-- LIST -->
        <div *ngFor="let follow of follows" class="item-user m-1">
          <div class="card text-center d-flex flex-row align-items-center">
            <img src="{{userService.url + 'get-image-user/' + follow.followed.image}}" alt="" *ngIf="follow.followed.image"
                 class="card-img-top img-thumbnail img-avatar rounded-circle m-1">
            <img src="../../../assets/images/default_avatar.png" alt="" *ngIf="!follow.followed.image"
                 class="card-img-top img-thumbnail img-avatar rounded-circle m-1">
            <div class="card-body d-flex flex-row align-items-center justify-content-between">
              <div>
                <p class="text-left mb-0 user-name">
                  <a [routerLink]="['/profile', follow.followed._id]">
                    {{follow.followed.name + " " + follow.followed.surname}}
                  </a>
                </p>
                <p class="text-left mb-0 text-muted user-nickname">{{follow.followed.nick}}</p>
              </div>
              <!-- FOLLOW / UNFOLLOW -->
              <div class="d-flex flex-column align-items-center" *ngIf="follow.followed._id != identity._id">
                <button class="btn btn-primary m-1" *ngIf="users_user_is_following.indexOf(follow.followed._id) < 0"
                        (click)="followUser(follow.followed._id)">Follow
                </button>
                <button class="btn m-1" *ngIf="users_user_is_following.indexOf(follow.followed._id) >= 0"
                        (mouseenter)="onMouseEnter(follow.followed._id)"
                        (mouseleave)="onMouseLeave(follow.followed._id)"
                        [class.btn-success]="follow.followed._id != followUserOver"
                        [class.btn-danger]="follow.followed._id == followUserOver">
                  <span *ngIf="follow.followed._id == followUserOver else following"
                        (click)="unfollowUser(follow.followed._id)">Unfollow</span>
                  <ng-template #following>
                    <span>Following</span>
                  </ng-template>
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- PAGINATION -->
        <nav>
          <ul class="pagination">
            <li *ngIf="page > 1" class="page-item">
              <a class="page-link" [routerLink]="['/following',currentUserId, prev_p]">Previous</a>
            </li>
            <li *ngIf="pages != page" class="page-item">
              <a class="page-link" [routerLink]="['/following', currentUserId, next_p]">Next</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="col-4">
      <app-sidebar></app-sidebar>
    </div>
  </div>
</div>
