<div class="container">
  <div class="col-auto">
    <div class="jumbotron">
      <h1>{{title}}</h1>
      <p class="lead">Enjoy your friends publications and share your life best moments.</p>
      <p class="lead d-flex justify-content-around">
        <a class="btn btn-success btn-lg" href="" role="button">My profile</a>
        <a class="btn btn-primary btn-lg" href="" role="button">Timeline</a>
        <a class="btn btn-info btn-lg" href="" role="button">People</a>
      </p>
    </div>
  </div>
</div>
